@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display:ital@1&display=swap');

/* *{
	background-color: #f3838f;
} */

.heading {
	color: rgb(250, 177, 42);
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	font-size:45px;
}

.content {
	/* font-size: 50px; */
	font-family: 'Playfair Display', serif;
}

img {
	width: 400px;
	height: 400px;
}

.outerDiv {
	/* background-color: #006699; */
	color: #fff;
	height: 400px;
	/* width: 600px; */
	margin: 0px auto;
	/* padding: 5px; */
}
.leftDiv {
	width: 30%;
	float: left;
	margin-left: 100px;
}
.rightDiv {
	color: rgb(250, 177, 42);
	width: 30%;
	float: right;
	margin-top: 80px;
	margin-right: 160px;
	font-size: 20px;
}

/* .container {
	background-image:  linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	  ), url('../../images/text-summarization-pages.jpg');
} */